@model Rubbish.Models.Vacation_Pickup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vacation_Pickup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PickupSite.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickupSite.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vacation.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vacation.ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
