@model Rubbish.Models.RegisterCustomerViewModel
@{
    ViewBag.Title = "Please Enter Pickup Information";
}

 

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter Address Here</h4>

    
        <div class="form-group">
            @Html.LabelFor(model => model.City, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.City, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.StreetName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.StreetName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.StreetNumber, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.StreetNumber, new { @class = "form-control" })
            </div>
        </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.State, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.State, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ZipCode, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.ZipCode, new { @class = "form-control" })
                    </div>
                </div>
                <h4>Enter Day of The Week You Would Like the Pickup to Be</h4>
                <div class="form-group">
                    @Html.LabelFor(model => model.DayOfWeek, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @{
                            List<SelectListItem> listItems = new List<SelectListItem>();
                            listItems.Add(new SelectListItem
                            {
                                Text = "Monday",
                                Value = "1",
                                Selected = true
                            });
                            listItems.Add(new SelectListItem
                            {
                                Text = "Tuesday",
                                Value = "2",
                            });
                            listItems.Add(new SelectListItem
                            {
                                Text = "Wednesday",
                                Value = "3"
                            });
                            listItems.Add(new SelectListItem
                            {
                                Text = "Thursday",
                                Value = "4"
                            });
                            listItems.Add(new SelectListItem
                            {
                                Text = "Friday",
                                Value = "5"
                            });

                        }

                        @Html.DropDownListFor(model => model.DayOfWeek, listItems, "-- Select Day --")

                    </div>
                    </div>
               
               
             
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-default" value="Finish Registering" />
                        </div>
                    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
