@model IEnumerable<Rubbish.Models.Vacation>

@{
    ViewBag.Title = "Vacations";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Set Vacation Dates", "Edit")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
    </tr>
}

</table>
